/*
Placeholder for custom user CSS

mainly to be overridden in profile/static/custom/custom.css

This will always be an empty file in IPython
*/

#maintoolbar-container{display:none;}
#header-container{display:none;}

.cm-s-ipython {
      line-height: 1.3em;

}
.cm-s-ipython.CodeMirror { background: #262626; color: #EBEFE7; text-shadow: 0 -1px 1px #262626;  }
.cm-s-ipython div.CodeMirror-selected {background: #45443B !important;} /* 33322B*/
.cm-s-ipython.CodeMirror ::selection { background: rgba(69, 68, 59, .99);  }
.cm-s-ipython.CodeMirror ::-moz-selection { background: rgba(69, 68, 59, .99);  }
.cm-s-ipython .CodeMirror-cursor { border-left: 1px solid white !important;  }
.cm-s-ipython pre { padding: 0 8px;  }/*editable code holder*/

.cm-s-ipython.CodeMirror span.CodeMirror-matchingbracket { color: #7EFC7E;  }/*65FC65*/

.cm-s-ipython .CodeMirror-gutters { background: #262626; border-right:1px solid #aaa;  }
.cm-s-ipython .CodeMirror-guttermarker { color: #599eff;  }
.cm-s-ipython .CodeMirror-guttermarker-subtle { color: #777;  }
.cm-s-ipython .CodeMirror-linenumber { color: #777;  }

.cm-s-ipython span.cm-keyword { color: #599eff;  }
.cm-s-ipython span.cm-atom { color: #C2B470;  }
.cm-s-ipython span.cm-number { color: #B35E4D;  }
.cm-s-ipython span.cm-def {color: white;}
.cm-s-ipython span.cm-variable { color:#D9BF8C;  }
.cm-s-ipython span.cm-variable-2 { color: #669199;  }
.cm-s-ipython span.cm-variable-3 { color: white;  }
.cm-s-ipython span.cm-property {color: #92A75C;}
.cm-s-ipython span.cm-operator {color: #92A75C;}
.cm-s-ipython span.cm-comment { color: #666;  }
.cm-s-ipython span.cm-string { color: #BCD279;  }
.cm-s-ipython span.cm-string-2 {color: #f50;}
.cm-s-ipython span.cm-meta { color: #738C73;  }
.cm-s-ipython span.cm-qualifier {color: #555;}
.cm-s-ipython span.cm-builtin { color: #ff9e59;  }
.cm-s-ipython span.cm-bracket { color: #EBEFE7;  }
.cm-s-ipython span.cm-tag { color: #669199;  }
.cm-s-ipython span.cm-attribute {color: #00c;}
.cm-s-ipython span.cm-header {color: #a0a;}
.cm-s-ipython span.cm-quote {color: #090;}
.cm-s-ipython span.cm-hr {color: #999;}
.cm-s-ipython span.cm-link {color: #00c;}
.cm-s-ipython span.cm-error { color: #9d1e15;  }

.cm-s-ipython .CodeMirror-activeline-background {background: #3C3A3A !important;}
.cm-s-ipython .CodeMirror-matchingbracket {outline:1px solid grey; color:white !important;}
